.home-wrapper {
  font-family: "inter";
  background-color: #f9f8fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel {
  width: 100%;
  height: 700px;
  padding: 50px 80px 0 100px;
  background-color: var(--light-gray-3);
}

.itens {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex: auto;
  overflow: hidden;
}

div.swiper-pagination {
  margin-bottom: 50px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: var(--light-gray-2) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary) !important;
}

.collection-wrappper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f8fe;
  margin-top: 8px;
}
.card-wrapper {
  width: 100%;
  padding: 38px 100px 50px 100px;
}

.card-wrapper h2 {
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.75;
  color: var(--dark-gray-2);
  margin-bottom: 20px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.highlights-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 20px;
}

.highlights-wrapper h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.75px;
  color: var(--dark-gray-2);
}

.itens-wrapper {
  width: 712px;
  height: 138px;
  margin-bottom: 138px;
  background-color: transparent;
}

.itens-wrapper ul {
  display: flex;
  gap: 48px;
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itens-wrapper ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itens-wrapper ul li div {
  width: 104px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 150px;
  background-color: var(--white);
}

.itens-wrapper ul li p {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  color: var(--dark-gray-2);
}

.product-wrapper {
  width: 100%;
  padding: 0 100px;
  margin-bottom: 80px;
}

.trending {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.trending h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0, 75px;
  color: var(--dark-gray-2);
}

.trending span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.trending span a {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: var(--primary);
  text-decoration: none;
}

.promotion-wrapper {
  width: 100%;
  height: 533px;
  background-color:var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 67px;
}

.shoes-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 466px;
  height: 466px;
  border-radius: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(66, 0, 255, 1) 350%
  );
}

.shoes-wrapper img {
  height: 330px;
  width: 573px;
}

.special-wrapper{
  height: 341px;
  width: 589px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -30px;
}

.special-wrapper span{
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.75px;
  color: var(--primary);
}

.special-wrapper h4{
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 1px;
  color: var(--dark-gray-2);
  margin-top: 17px;
}

.special-wrapper p{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: .75px;
  color: var(--dark-gray-2);
  margin-top: 20px;
}

.special-wrapper button{
  width: 200px;
  height: 40px;
  background-color: var(--primary);
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .75px;
  color: var(--light-gray-3);
  border: none;
  border-radius: 12px;
  margin-top: 30px;
}